@page

<h2 class="mb-4">Dashboard</h2>

<div class="row g-4">

	<div class="col-md-3">

		<div class="card bg-primary text-white p-4">

			<h6>Total Hotels</h6>
			<h2>12</h2>

		</div>

	</div>

	<div class="col-md-3">

		<div class="card bg-success text-white p-4">

			<h6>Total Rooms</h6>
			<h2>80</h2>

		</div>

	</div>

	<div class="col-md-3">

		<div class="card bg-warning text-white p-4">

			<h6>Total Bookings</h6>
			<h2>45</h2>

		</div>

	</div>

	<div class="col-md-3">

		<div class="card bg-danger text-white p-4">

			<h6>Total Users</h6>
			<h2>150</h2>

		</div>

	</div>

</div>