@page

<h1>Manage Bookings</h1>

<table class="table table-bordered">

	<tr>
		<th>User</th>
		<th>Hotel</th>
		<th>Room</th>
		<th>Date</th>
		<th>Status</th>
	</tr>

	<tr>
		<td>John</td>
		<td>Hilton</td>
		<td>101</td>
		<td>2026-04-01</td>
		<td>Confirmed</td>
	</tr>

</table>