@page

<h1>Manage Hotels</h1>

<button class="btn btn-primary mb-3">Add Hotel</button>

<table class="table table-bordered">

    <thead>

        <tr>
            <th>Image</th>
            <th>Hotel Name</th>
            <th>City</th>
            <th>Price</th>
            <th>Action</th>
        </tr>

    </thead>

    <tbody>

        <tr>
            <td>
                <img src="/images/hotel1.jpg" width="80">
            </td>

            <td>Hilton</td>
            <td>New York</td>
            <td>$200</td>

            <td>
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>

        </tr>

    </tbody>

</table>