@page

<h1>Manage Rooms</h1>

<table class="table table-bordered">

	<tr>
		<th>Room</th>
		<th>Hotel</th>
		<th>Price</th>
		<th>Status</th>
	</tr>

	<tr>
		<td>101</td>
		<td>Hilton</td>
		<td>$100</td>
		<td>Available</td>
	</tr>

</table>